/* hide native tabs */
#TabsToolbar {
  display: none;
}

/* hide sidebar header */
#sidebar-header {
  display: none;
}

/* hide spacing b/w sidebar and page content */
#sidebar-splitter {
    width: 0 !important;
}

/*
 * Collapsible sidebar
 */
#main-window #sidebar-box {
    position: fixed;
    min-width: 0px !important;
    max-width: none !important;
    width: 30px !important;
    height: 100%;

    overflow: hidden;
    box-shadow: 0 0 8px 0 #00000064, 1px 0 0 0 #212121;
    transition: all 0.12s;
    z-index: 1;
}

#main-window #sidebar {
    position: absolute;
    min-width: 0px !important;
    max-width: none !important;
    height: 96%;
}

/* show on hover */
#main-window #sidebar-box:hover,
#main-window #sidebar-box:hover #sidebar {
    width: 250px !important;
}

/* don't hide page content behind sidebar */
#main-window #appcontent {
    margin-left: 30px;
}
